<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.o80.locky">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".unlock.UnlockActivity"></activity>
        <activity android:name=".enrolment.ui.EnrolmentActivity"></activity>
    </application>

</manifest>